
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}




<div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0">
    <img class="z-10 w-3/4 h-3/4 sm:w-3/4 sm:h-3/4" src="~/public/Img/Logo/Logo1.png">
</div>




